@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: theme("spacing.20");
  }
}

@layer components {
  .body-section {
    align-items: center;
    row-gap: theme("spacing.4");
  }
  .section-header {
    font-size: theme("fontSize.xl");
    font-weight: theme("fontWeight.semibold");

    @media screen(lg) {
      font-size: theme("fontSize.2xl");
    }
  }
  .utapau {
    display: inline-block;
    cursor: theme("cursor.obi-wan");
    overflow: hidden;
    background-clip: text;
    background-size: 200%;
    background-position: 100%;
    transition: background-position 275ms ease;
    -webkit-text-fill-color: transparent;
    vertical-align: top;
  }

  .utapau:hover {
    background-position: 0 100%;
  }

  .link {
    @apply hover:text-cyan-700 dark:hover:text-emerald-300;
    @apply focus-visible:text-cyan-700 dark:focus-visible:text-emerald-300;
    @apply transition ease-linear motion-reduce:transition-none;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
