@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    scroll-behavior: smooth;
    scroll-padding-top: theme("spacing.20");
  }
}

@layer components {
  .body-section {
    align-items: center;
    row-gap: theme("spacing.4");
  }
  .section-header {
    font-size: theme("fontSize.xl");
    font-weight: theme("fontWeight.semibold");

    @media screen(lg) {
      font-size: theme("fontSize.2xl");
    }
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
